[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.7"

[dev-packages]

[packages]
#couchdb = "*"
django = "*"
djangorestframework = "*"
#lgppp-lofar-pipeline = {ref = "master",git = "https://github.com/EOSC-LOFAR/LGPPP_LOFAR_pipeline.git"}
jsonfield = "*"
#prefactor-lofar-pipeline = {ref = "master", git = "https://github.com/souley/PROCESS-UC2.git"}
uc2-lofar-pipeline = {ref = "master", git = "https://github.com/process-project/UC2_pipeline.git"}
lofar-iee-pipeline = {ref = "master", git = "https://github.com/process-project/LOFAR_IEE_pipeline.git"}
requests = "*"
django-fontawesome-5 = "*"
#fontawesome = "*"
fabric = "*"
matplotlib = "==3.0.3"
astropy = "~=3.1"
aplpy = "*"
webdavclient3 = "*"
